@media (max-width:1250px) {/*************       1250px breakpoint  *******/     
  
                                            /*header section*/
    .header_container {
        padding-left: 9rem;
        padding-right: 9rem;
        }

                                            /*blog section*/
    .left_blog {
        display: none;
    }
    
    .blog_text {
        width:80%;
        margin-top: 3rem;
        margin-left: 2rem;
        position: absolute;
        left:3rem;    
    }
                                          /*portfolio section*/
    .ipad {
        position: absolute;      
        right: 0;
        width:auto;
        height: 70%;
    }

    .portfolio {
        height: 45rem;
    }
    
    .portfolio article {
        margin-left: 5rem; 
    }
    
    .pseudo_list {
        margin-bottom: 0;
    }

                                        /*logotype section*/
    .logotype {
        width:70%;
    }
                                        /* social media section*/
    .social_media {
        margin-left: 7rem;
        width: 90%;
    }
}

@media (max-width:1010px) { /**************    1010px breakpoint *********/
    
                                                /*header section*/
    .header_container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
                                                /*baner section*/
    .baner_header {
        width: 80%;
        position:absolute;
        top:10rem;
        left:10%;
        right:10%;
        margin-bottom: 0;
    }    
                                              /*about section*/
    .about_container {
        width:90%;
    }
                                             /*blog section*/
    .blog_text {
        left:1.5rem;    
    }
                                             /*portfolio section*/
     .portfolio article {
        margin-left: 2.5rem; 
    }
    
    .ipad { 
        height: 60%;
    }
    
                                            /*culture section*/
    .culture_container { 
        margin-top: 4rem;
        width:90%;   
    }
    
    .culture_container img {
        margin-bottom: 2rem;
    }
                                              /*clients section*/
    .clients {
        height: 40rem;   
    }
    
    .foto {
        display: none;
    }
    .triangle_left {
       display: none;
    }
    .triangle_rigth {
        display: none;
    }
                                            /*latest section*/
    
    .latest_container {
        width: 90%;
    }
    
    .contact_us li {
        margin-bottom: 1.5rem;
        line-height: 1.9rem;
    }
    
    .latest_posts li {
        margin-bottom: 0.7rem;
        line-height: 1.3rem;    
    }
    
    .latest_tweets ul > li {
        margin-bottom: 0.7rem;
        line-height: 1.3rem;
    }
                                          /*logotype section*/
    .logotype {
        width:90%;
    }
                                        /*social media section*/
    .social_media {
        margin-left: 2rem;
        margin-right: 0;
    }
    
    .social_logos {
        width:33%;
        margin-right: 4rem;
    }
}
                                
@media (max-width:760px) {/**************    760px breakpoint ************/

                                        /*header section*/
    .header_container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .menu ul{                
        margin-right:1rem;
    }
    
    .menu li {
        float: left;
        margin: 0.5rem;
    }
                                        /*main style*/
    h1 {
        font-size: 3rem;
        margin-bottom: 2vw;
    }
    
    h2 {
        font-size: 2.6rem;
        margin-bottom: 1rem;
    }
    
    h4 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .p_after_h2 {
        margin-bottom: 2rem;
        font-size:1.2rem;
    }
    
    .p_after_h4 {
        font-size: 1rem;
    } 
    
    .baner_text {                   /*baner section*/
        width: 100%;
        height: 100%;
        position:absolute;
        top:8rem;
        left:0;
        margin-bottom: 0;
    }                               /*portfolio section*/
    
    .portfolio {
        height: 40rem;
    }

    .portfolio article p {   
      width: 80%;
    }
    
    .ipad {
        display: none;
    }
                                      /*blog section*/
    .blog_text {
        width:80%;
        margin-top: 3rem;
        margin-left: 1rem;    
    }
                                    /*culture section*/
    .culture {
        height: 27rem; 
    }
    
    .culture_container {
        margin-top: 1rem;  
    }
    
    .culture_container div {
        width:32%;
    }
    
     .clients {                     /*clients section*/
        height: 38rem;   
    }
    
    .clients_text blockquote {
        font-size: 1.2rem;
    }
    
    .clients_text cite {
        font-size: 1rem;
    }
    
    .contact h2 {                   /*contact section*/
        width:100%;
    }
    .logotype {                   /*logotype section*/
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 7rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .latest_container {         /*latest section*/
        width: 95%;
    }
    .contact_us li {
        font-size:0.9rem;
        margin-bottom: 1rem;
        line-height: 1.9rem;
    }
    .latest_posts li {
        font-size:0.9rem;
        margin-bottom: 0.3rem;
        line-height: 1.3rem;    
    }
    .latest_tweets ul > li {
        font-size:0.9rem;    
        margin-bottom: 0.3rem;
        line-height: 1.3rem;
    }    
                                            /*social media section*/
    .social_media {
        margin-left: 1rem;
    }
    
    .social_logos {
        width:45%;
        margin-right: 4rem;
    }
}

@media (max-width:600px) {/************    600px breakpoint     *********/
    
    .menu {
        display: none;
    }
    .about {                                /*about section*/
        height: 38rem;
    }
    .about_container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items:  center;
        flex-wrap: wrap;
        width:90%;
        }
    
    .about_container > div {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .about_container h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
                                    /*portfolio section*/
    
    .portfolio {
        height: 43rem;
    }
                                        /*clients section*/
    
    .clients {
        height: 35rem; 
    }
    
    .clients_text {
        width: 45rem;
        height: 9rem;
    }
    
    .clients_text blockquote {
        margin: 1.5rem;
    }
    
    .culture {                                 /*culture section*/
        height: 47rem; 
    }
    
    .culture_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:95%;   
    }
    
    .culture_container div {
        width:80%;
    }
    
    .culture_container img {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width:auto;
        height: 4rem;
    }
    
    .contact {                           /*contact section*/
        height: 13rem;
    }
    .contact h2 {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width:95%;
    }
                                            /*latest section*/
    .latest {
        height: 40rem;
        background-color: black;
        color:white;
    }
    
    .latest_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }
    
    .latest_container > div > h4 {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .latest_container > div {
        width: 100%;
        margin-top: 1.5rem; 
        margin-left: 1rem;
    }
    
    .contact_us ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:95%;
    }
                                             /*social media section*/
    .social_media {
        margin-left: 1rem;
    }
    
    .social_logos {
        width:60%;
        margin-right: 1rem;
    }
}

@media (max-width:500px) {/***************** 500px breakpoint ************/
    
  
    .main {             /*baner section*/
    height:20rem;
    }
    .baner {
        min-height:20rem;
    }
    h1 {
    font-size: 2rem;
    }
    .baner_text p {
        font-size:1rem;
    }
    .about h2 {         /*about section*/
        font-size: 2rem;
    }
    .about p {
        font-size: 1rem;
    }
    .about_container h4 {
        font-size: 1rem;
    }
    .about_container p {
        font-size: 0.9rem;
    }
    .blog_text {        /*blog section*/
        width:90%;
        margin-left:0;
    }
    .blog_text h2 {
        font-size: 2rem;
    }
    .blog_text p {
        width:90%;
        font-size: 1rem;
    }
    .portfolio h2 {     /*portfolio section*/
        font-size: 2rem;
    }
    .portfolio_header {
        font-size: 1rem;
    }
    .portfolio article {
        margin-left: 5%; 
    }
    .portfolio h4 {
        font-size: 1rem;
    }
    .portfolio article p {   
        font-size: 0.9rem;
        width: 90%;
    }
    .culture h2 {       /*culture section*/
        font-size: 2rem;
    }
    .culture p {
        font-size: 1rem;
    }
    .culture_container h4 {
        font-size: 1rem; 
    }
    .culture_container p {            
        font-size: 0.9rem;
    }
    .clients h2 {           /*clients section*/
        font-size: 2rem;   
     }
    .clients p {
        font-size: 1rem;
    }
    .clients_text blockquote {
        font-size: 1rem;
    }
    .clients_text cite {
        font-size: 1rem;
    }
    .logotype {                 /*logotype section*/
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 15rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
     .contact_us ul {           /*latest section*/
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        width:90%;
    }
    .latest_tweets ul > li {
        padding-right: 2rem;    
    }
}

@media (max-width:330px) {  /*tu mi się jeszcze rozjeżdzają ikony w portfolio*/

}
}