body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 115px; 
    
}

.header_container {
    margin-left:auto;
    margin-right: auto;
    margin-top: 45px;
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  
}

.logo {
    align-self: center;
}

nav {
    align-self: center;

}

nav ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

nav ul > li  {
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color:  #777777;
    font-size:14px;
    margin-right: 35px;
    font-weight: bold;
    float:left;
}

nav ul > li > a  {
    text-decoration: none;    
}

nav ul > li > a:hover {
    color: #7cc576;
}

.baner {
    background-image: url(images/background.png);
    background-size: cover;
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
    height: 530px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.baner_text {
    width: 522px;
    height: 530px;
    text-align: center;
    font-weight: bold;
    opacity: 1.0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:100px;
    left:400px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight:bold;
    margin-bottom: 41px;
    color:white;

}

.baner_text p {
    margin-top:0;
    font-size:20px;
    color:#cccccc;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    
}

button {
    background-color: #7cc576;
    border:none;
    border-radius: 25px;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main_button a {
    text-decoration: none;
    color:inherit;
}

.main_button:hover {
    background-color: white;
    color:black;
    text-shadow: none;
    cursor: pointer;
}


.about {
    height: 535px;
    width: auto;
}

.about_text {
    text-align: center;
    margin-top: 99px;
    margin-bottom: 86px;
    font-family: 'Roboto Slab', serif;
    
}
.about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 75px;
}

.about p {
    color:  #777777;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.about_container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    width:930px;
}

.about_container > div {
    width: 274px;
}

.about img {
    margin-bottom: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.about_container h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 18px;
    font-weight: bold;
    line-height: 75px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about_container p {
    font-size: 14px;
    color:  #777777;
    text-align: center;
    margin-top: 0;
    font-family: 'Roboto Slab', serif;
}

.blog {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left_blog {
    width:430px; /*to na razie roboczo*/
    height: 616px;
    background-color:  #e9e9e9;
    z-index: -2;
    
}

.left_blog img {
    position: relative;
    left:220px;
    top:100px;
    z-index: -1;
}

.rigth_blog {                                                      
    width:970px;
    background-image: url(images/background_blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
   
}

.blog_text {
    height: auto;
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    top:1200px;
    left:450px;
    
}

.blog_text h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 45px;
}

.blog_text p {
    width:530px;
    font-family: 'Roboto Slab', serif;
    color:  #cccccc;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.blog_text ul {                                     /*nie wiem jak to wyśrodkować na razie*/
    list-style-position: inside;
    height: 75px; 
    margin-top: 22px;
    margin-bottom: 40px;
}

.blog_text li {
    padding-left: 47px;
    margin-top:10px;
    line-height: 33px;
    color: #cccccc;
    /*display: table-cell;
    vertical-align: middle;*/
    background: url(images/list_check.png) no-repeat left top;
}

.green {
    color:#7cc576;
}

.portfolio {
    height: 824px;
}

.portfolio h2 {
    font-family:  'Montserrat', sans-serif;
    color:#222222;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.portfolio_header {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 86px;
}
.ipad {
    float:left;
    position: absolute;
    right: 0;
}

.portfolio article {
    width: 480px;
    margin-left: 210px;
    margin-top: 0; 
}

.portfolio h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
}

.portfolio article p {   /*czemu tu mi robi taki duży margines na górze?*/
    font-family:'Roboto Slab', serif;
    color:  #777777;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    display: block;
    width: 360px;
    margin-top: 0;   
}

.pseudo_list {
    margin-top: 28px;
}

.list_li {
    padding-left:90px;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 20px;  
}

.list_li h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
}

.list_li p {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.basket {
    background: url(images/icon_basket.png) no-repeat left top;     
}

.laptop {
    background: url(images/icon_laptop.png) no-repeat left top;    
}

.locked {
    background: url(images/icon_locked.png) no-repeat left top;    
}

.portfolio a {
    font-family:  'Montserrat', sans-serif;
    color:  #7cc576;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.portfolio a:hover {
   font-size:17px;
}

.culture {
   background-color:  #f9f9f9;
    height: 560px; 
}

.culture h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 18px;
}

.culture p {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/*.culture_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.culture_icons > * {
    margin-right: 37px;   
    margin-top: 89px;
}

.culture_icons img:last-of-type {
    margin-right: 0;
} */


.culture_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    width:934px;   
}


.culture_container > div {
    width:274px;
}

.culture_container img {
    margin-bottom: 29px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.culture_container h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    
}

.culture_container p {            /*powinno być szersze*/
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 18px;
    
}

.line hr {                        /*tu jest coś nie tak z tą linią, nie wiem jak ją zrobić dobrze*/
    background-color:  #777777;
    width: 171px;
    position: relative;
    top:-80px;
}

.clients {
    height: 810px;
    
}

.clients h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;   
 }

.clients p {
    font-family:'Roboto Slab', serif;
    color:  #777777;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin:0;
    margin-bottom: 86px;
}

.clients_flex {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 940px;
    margin-bottom: 62px;
    margin-right: auto;
    margin-left: auto;
}

.foto {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    background-color:  #f9f9f9;
    width: 221px;
    height: 220px;
}

.clients_text {
    background-color:  #f9f9f9;
    width: 643px;
    height: 173px;
    margin-right: 0px;
    margin-left: 0px;
}

.clients_text blockquote {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 18px;
}

.clients_text cite {
    font-family: 'Roboto Slab', serif;
    color:  #7cc576;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-align: center;
}

.triangle_left {
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 24px solid #f9f9f9;
	margin: auto 0  auto 0;
    margin-left: 24px;
}

.triangle_rigth {
   width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 24px solid #f9f9f9;
	margin: auto 0  auto 0; 
    margin-right: 24px;
}

.contact {
    height: 250px;
    background-color:  #7cc576;
}

.contact h2 {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 30px;
}

.contact button {
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    border-radius: 10px;
    background-color:  #7cc576;
    width: 174px;
    height: 47px;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 41px;
    text-align: center;
    text-shadow: none;
    margin: 0 auto 0 auto;
    cursor: pointer;
    
}

.contact a  {
    text-decoration: none;
}

.contact button:hover {                
    color:#7cc576;
    background-color: #ffffff;  
    text-decoration: none;            
}


.logotype {
    height: 165px;
    width: 765px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.latest {
    height: 365px;
    background-color: black;
    color:white;
}

.latest_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 927px;
    margin:auto;
}

.latest_container > div {
    width: 280px;
    margin-top: 54px;  
}

.latest_container > div > h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 18px;/
    font-weight: bold;
    text-align: left;
    margin-bottom: 31px;
}

.contact_us ul {
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
}


.contact_us li:first-child {
    background: url(images/icon_location.png) no-repeat left top; 
     display: table-cell;
    vertical-align: center;
    padding-left: 35px;
    margin-bottom: 20px;
    
}

.contact_us li:nth-child(2) {
    background: url(images/icon_phone.png) no-repeat left top; /*czemu mi tu ucina?*/
    display: table-cell;
    vertical-align: center;
    padding-left: 35px;
    margin-bottom: 20px;
    
}

.contact_us li:last-child {
    background: url(images/icon_email.png) no-repeat left top; 
     display: table-cell;
    vertical-align: center;
    padding-left: 35px;
    
}

.latest_posts li {
    padding-left: 35px;
}

.latest_posts  a {
    text-decoration: none;
    color:white;
}

.latest_posts a:hover {
    color:#7cc576;
}

.news {
    background: url(images/icon_news.png) no-repeat left top; 
    padding-left: 35px;
    margin-bottom: 19px;
    line-height: 22px;
}

.photo {
    background: url(images/icon_photo.png) no-repeat left top; 
    padding-left: 35px;
    margin-bottom: 19px;
    line-height: 22px;
}
.media {
    background: url(images/icon_media.png) no-repeat left top; 
    padding-left: 35px;
    margin-bottom: 19px;
    line-height: 22px;
}

.latest_tweets ul > li {
    background: url(images/icon_twitter.png) no-repeat left top; 
    padding-left: 35px;
    margin-bottom: 19px;
    line-height: 22px;
}

.latest_tweets  a {
    text-decoration: none;
    color:white;
}

.latest_tweets a:hover {
    color:#7cc576;
}

.time {
   font-size: smaller;
}

.hasztag {
    font-weight: bold;

}

.social_media {
    height: 100px;
}


