body {
    background-color: white;
    color: black;
    font-family: Montserrat;
}

header {
    height: 115px;
    display: block;
}

.baner {
    background-image: url(images/background.png);
    background-size: cover;
    height: 530px;
    width: auto;
    
}