@media (max-width:1250px) {   /*delete img in blog and change img in portfolio sections*/
        
    .blog {                                                    
    width:100%;
    height: 616px;
    }
    .left_blog {
        display: none;
    }
    .rigth_blog {
        width:100%;
    }
    .blog_text {
    height: auto;
    width:80%;
    margin-top: 100px;
    position: absolute;
    left:5%;   
    }
    .blog_text p {
        width:60%;
    }
    .ipad {
        display: none;    
    }
    .portfolio article p {
        width:80%;
    }  
    .line hr {
        display: none;
    }
    
}