body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', 'Roboto Slab', serif, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

header {
    height: 115px;     
}

.header_container {
    margin-left:auto;
    margin-right: auto;
    margin-top: 45px;
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}

.menu {                
    display: flex;
    flex-direction: row;
    width:430px;
    list-style-type: none; 
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight: bold;
}

.menu li {
    align-self: center;
}

.menu a {
    text-decoration: none;
    color:#777777;
}

.menu a:hover {
    color: #7cc576;
}
                                                  /*section baner*/

.baner {
    background-image: url(images/background.png);
    background-size: cover;
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
    height: 530px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.baner_text {
    width: 40%;
    height: 530px;
    text-align: center;
    font-weight: bold;
    opacity: 1.0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:18%;
    left:30%;
    right:30%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight:bold;
    margin-bottom: 41px;
    color:white;
}

.baner_text p {
    margin-top:0;
    font-size:1.7vw;
    color:#cccccc;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;    
}

button {
    background-color: #7cc576;
    border:none;
    border-radius: 25px;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 1.2vw;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main_button a {
    text-decoration: none;
    color:inherit;
}

.main_button:hover {
    background-color: white;
    color:black;
    text-shadow: none;
    cursor: pointer;
}
                                  /* section about*/
.about {
    height: 535px;
    width: auto;
}

.about_text {
    text-align: center;
    margin-top: 99px;
    margin-bottom: 86px;
    font-family: 'Roboto Slab', serif;
    
}

.about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7vw;
    font-weight: bold;
    line-height: 75px;
}

.about p {
    color:  #777777;
    font-size: 1.7vw;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.about_container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items:  center;
    width:75%;
}

.about_container > div {
    width: 27%;
}

.about img {
    margin-bottom: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.about_container h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.3vw;
    font-weight: bold;
    line-height: 75px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about_container p {
    font-size: 1.1vw;
    color:  #777777;
    text-align: center;
    margin-top: 0;
    font-family: 'Roboto Slab', serif;
}
                                    /*section blog*/
.blog {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left_blog {
    width:30%; 
    height: 616px;
    background-color: #e9e9e9;
    z-index: -2;
}

.left_blog img {
    position: relative;
    left:50%;
    top:15%;
    z-index: -1;
}

.rigth_blog {                                                      
    width:70%;
    background-image: url(images/background_blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);  
}

.blog_text {
    height: auto;
    width:50%;
    margin-top: 100px;
    margin-left: 90px;
    position: absolute;
    top:1180px;
    right: 33%;
    left:33%;   
}

.blog_text h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 3.7vw;
    font-weight: bold;
    text-align: left;
    margin-bottom: 45px;
}

.blog_text p {
    width:80%;
    font-family: 'Roboto Slab', serif;
    color:  #cccccc;
    font-size: 1.7vw;
    font-weight: 400;
    text-align: left;
}

.blog_text ul {                                   
    list-style-position: inside;
    height: 75px; 
    margin-top: 22px;
    margin-bottom: 35px;
}

.blog_text li {
    padding-left: 47px;
    margin-top:10px;
    line-height: 33px;
    color: #cccccc;
    background: url(images/list_check.png) no-repeat left top;
}

.green {
    color:#7cc576;
}
                                /*section portfolio*/
.portfolio {
    height: 824px;
}

.portfolio h2 {
    font-family:  'Montserrat', sans-serif;
    color:#222222;
    font-size: 3.7vw;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.portfolio_header {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.7vw;
    font-weight: 400;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 86px;
}

.ipad {
    float:left;
    position: absolute;
    right: 0;
}

.portfolio article {
    margin-left: 15%;
    margin-top: 0; 
}

.portfolio h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: left;
    margin-bottom: 24px;
}

.portfolio article p {   
    font-family:'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.1vw;
    font-weight: 400;
    text-align: left;
    display: block;
    width: 50%;
    margin-top: 0;   
}

.pseudo_list {
    margin-top: 28px;
}

.list_li {
    padding-left:90px;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 20px;  
}

.list_li h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
}

.list_li p {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.1vw;
    font-weight: 400;
    text-align: left;
}

.basket {
    background: url(images/icon_basket.png) no-repeat left top;     
}

.laptop {
    background: url(images/icon_laptop.png) no-repeat left top;    
}

.locked {
    background: url(images/icon_locked.png) no-repeat left top;    
}

.portfolio a {
    font-family:  'Montserrat', sans-serif;
    color:  #7cc576;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.portfolio a:hover {
   font-size:1.3vw;
}
                              /* section culture*/
.culture {
    background-color:  #f9f9f9;
    height: 560px; 
}

.culture h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 3.7vw;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 18px;
}

.culture p {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.7vw;
    font-weight: 400;
    text-align: center;
}

.culture_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    width:80%;   
}

.culture_container img {
    margin-bottom: 29px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.culture_container h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.3vw;
    font-weight: 700;
    text-align: center;   
}

.culture_container p {            
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.1vw;
    font-weight: 400;
    text-align: center;
    margin-top: 18px;  
}

.line hr {                        
    background-color:  #777777;
    width: 171px;
    position: relative;
    top:-80px;
}
                       /*section clients*/
.clients {
    height: 810px;   
}

.clients h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 3.7vw;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;   
 }

.clients p {
    font-family:'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.7vw;
    font-weight: 400;
    text-align: center;
    margin:0;
    margin-bottom: 70px;
}

.clients_flex {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 90%;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.foto {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    background-color:  #f9f9f9;
    width: 221px;
    height: 220px;
}

.clients_text {
    background-color:  #f9f9f9;
    width: 643px;
    height: 173px;
    margin-right: 0px;
    margin-left: 0px;
}

.clients_text blockquote {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.6vw;
    font-weight: 400;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 18px;
}

.clients_text cite {
    font-family: 'Roboto Slab', serif;
    color:  #7cc576;
    font-size: 1.3vw;
    font-weight: 400;
    display: block;
    text-align: center;
}

.triangle_left {
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 24px solid #f9f9f9;
	margin: auto 0  auto 0;
    margin-left: 24px;
}

.triangle_rigth {
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 24px solid #f9f9f9;
	margin: auto 0  auto 0; 
    margin-right: 24px;
}
                      /*section contact*/               
.contact {
    height: 250px;
    background-color:  #7cc576;
}

.contact h2 {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 3.2vw;
    font-weight: 700;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width:80%;
}

.contact button {
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    border-radius: 10px;
    background-color:  #7cc576;
    width: 174px;
    height: 47px;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 41px;
    text-align: center;
    text-shadow: none;
    margin: 0 auto 0 auto;
    cursor: pointer; 
}

.contact a  {
    text-decoration: none;
}

.contact button:hover {                
    color:#7cc576;
    background-color: #ffffff;  
    text-decoration: none;            
}
                       /*logotype section*/
.logotype {
    height: 165px;
    width: 60%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
                     /*latest section*/            
.latest {
    height: 365px;
    background-color: black;
    color:white;
}

.latest_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin:auto;
}

.latest_container > div {
    width: 40%;
    margin-top: 54px;  
}

.latest_container > div > h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: left;
    margin-bottom: 31px;
}

.contact_us ul {
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
}

.contact_us li {
    display: table-cell;
    vertical-align: center;
    padding-left: 35px;
    margin-bottom: 20px;
}

.contact_us li:first-child {
    background: url(images/icon_location.png) no-repeat left top; 
}

.contact_us li:nth-child(2) {
    background: url(images/icon_phone.png) no-repeat left top; 
}

.contact_us li:last-child {
    background: url(images/icon_email.png) no-repeat left top; 
    margin-bottom: 0;
}

.latest_posts li {
    padding-left: 35px;
}

.latest_posts  a {
    text-decoration: none;
    color:white;
}

.latest_posts a:hover {
    color:#7cc576;
}

.latest_posts li {
    padding-left: 35px;
    margin-bottom: 19px;
    line-height: 22px;
}

.news {
    background: url(images/icon_news.png) no-repeat left top; 
}

.photo {
    background: url(images/icon_photo.png) no-repeat left top; 
}
.media {
    background: url(images/icon_media.png) no-repeat left top; 
}

.latest_tweets ul > li {
    background: url(images/icon_twitter.png) no-repeat left top; 
    padding-left: 35px;
    margin-bottom: 20px;
    line-height: 22px;
}

.latest_tweets  a {
    text-decoration: none;
    color:white;
}

.latest_tweets a:hover {
    color:#7cc576;
}

.time {
   font-size: smaller;
}

.hasztag {
    margin-top: 3px;
    font-weight: bold;
}

.social_media {
    height: 100px;
}




   
    

