body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 115px;
    
}

.baner {
    background-image: url(images/background.png);
    background-size: cover;
    height: 530px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.baner_text {
    width: 522px;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight:bold;
    margin-bottom: 41px;
    color:white;

}

.baner_text p {
    margin-top:0;
    font-size:20px;
    color:#cccccc;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    
}

.baner button {
    background-color: #7cc576;
    border:none;
    border-radius: 25px;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 56px;
    font-family: 'Montserrat', sans-serif;
}

.about {
    height: 535px;
    width: auto;
}

.about_text {
    text-align: center;
    margin-top: 99px;
    margin-bottom: 86px;
    font-family: 'Roboto Slab', serif;
    
}
.about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
}

.about p {
    color:  #777777;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.about_container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    width:930px;
}

.about_container > div {
    width: 274px;
}

.about img {
    margin-bottom: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.about_container h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 18px;/
    font-weight: 1200;
    line-height: 75px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about_container p {
    font-size: 14px;
    color:  #777777;
    text-align: center;
    margin-top: 0;
    font-family: 'Roboto Slab', serif;
}
/*.heart { 
    background-image: url(images/icon_heart.png);
    background-repeat: no-repeat;
    background-position: top; 
    
}*/