@media (max-width:1250px) {
    .left_blog {
        display: none;
    }
    .rigth_blog {
        width:100%;    
    }
    .blog_text {
        width:80%;
        margin-top: 7vw;
        margin-left: 5vw;
        position: absolute;
        top:85vw;
        right: 10vw;
        left:10vw;
    }
}

@media (min-width:950px) and (max-width:1249px) {
   .blog_text {
        position: absolute;
        top:90vw;
    }

}

@media (min-width:800px) and (max-width:949px) {
    .blog_text {
        width:80%;
        position: absolute;
        top:95vw;
    }
    .blog_text li {
    padding-left: 5vw;
    }
    .ipad {
        display: none;
    }
    .line hr {
        display: none;
    }
    .culture_container {
        margin-top: 4vw;
        width:90%;   
    }
    .culture_container img {
        margin-bottom: 3.5vw;
        width:30%;
        height: auto;
    }
    .culture_container p {            
        font-size: 1.5vw;    
        width:90%;
}
}

@media (max-width:799px) {
       .menu {
        display: none;   
    }
    .header_container img {
        margin-left: auto;
        margin-right: auto;
    }
    button {
        width: 20vw;
        height: 6vw;
        font-size: 1.7vw;
    }
    .about {
        margin-top: -16vw;
        margin-bottom: 7vw;
}
    .about_container {
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items:  center;
        width:90%;
    }
    .about img {
        height: 25%;
    }
    .about_container > div {
        width: 80%;   
        margin-top: 2vw;    
    }
    .about_container h4 {
        font-size: 2.2vw;
    }
    .about_container p {
          font-size: 1.8vw;  
    }
    .blog_text {                 /*kurde jak tu to najlepiej zamieścić :/ */
        width:80%;
        position: absolute;
        top:115%;
    }
    .blog_text li {
        padding-left: 7vw;
    }
     .ipad {
        display: none;
    }
        .line hr {
        display: none;
    }
    .culture_container {
        margin-top: 4vw;
        width:90%;   
    }
    .culture_container img {
        margin-bottom: 3.5vw;
        width:30%;
        height: auto;
    }
    .culture_container p {            
        font-size: 1.5vw;    
        width:90%;
}
}

