@media (max-width:1250px) {   /*delete img in blog and change img in portfolio sections ang change font size*/
        
    
    h1 {
        font-size:5vw;
    }
    .baner_text {
        width: 60%;
        margin-left: auto;
        margin-right: auto; 
        position: absolute;
        top:18%;
        left:20%;
        right:20%;
    }
    .baner_text p {
        font-size: 2vw;
    }
    button {
        font-size: 1.3vw;
    }
    .about_container h4 {
        font-size: 1.6vw;
    }
    .about_container p {
        font-size: 1.3vw;
    }
    .blog {                                                    
        width:100%;
        height: 616px;
    }
    .left_blog {
        display: none;
    }
    .rigth_blog {
        width:100%;
    }
    .blog_text {
    height: auto;
        width:80%;
        margin-top: 100px;
        position: absolute;
        left:5%;   
    }
    .blog_text p {
        width:60%;
    }
    .ipad {
        display: none;    
    }
    .portfolio article h4 {
        font-size: 1.6vw;
    }
    .portfolio article p {
        width:80%;
        font-size: 1.4vw;
    }  
    .portfolio a {
        font-size: 1.4vw;
    }
    .portfolio a:hover {
        font-size: 1.6vw;
    }
    .line hr {
        display: none;
    }
    .culture_container div {
        margin-right: 5px;
    }
     .culture_container div:last-child {
        margin-right: 0;
    }
    .culture_container h4 {
        font-size: 1.6vw;
    }
    .culture_container p {
        font-size: 1.4vw;
    }
    .clients_text blockquote {
        font-size: 1.8vw;
    }
    .clients_text cite {
        font-size: 1.5vw;
    }
    
}

@media (min-width:950px) and (max-width:1249px) {
    .logotype {
        width:80%;
    }  
}
