body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', 'Roboto Slab', serif, sans-serif;
    font-size:16px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width:100%;
    height: auto;
}

.header_container {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 2.5vw;
    width:100%;
    height: 15%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    position: fixed;
    top:0;
    background-color: white;
    z-index: 2;
    -webkit-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.header_container img {
    margin-left:3vw;
}

.menu {                
    display: flex;
    flex-direction: row;
    width:30rem;
    list-style-type: none; 
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight: bold;
    margin-right: 3vw;
}

.menu li {
    align-self: center;
}

.menu a {
    text-decoration: none;
    color:#777777;
}

.menu a:hover {
    color: #7cc576;
}

                                                  /*section baner*/
.main {
    width: auto;
    margin-top:5%;
    height:30rem;
}

.baner {
    background-image: url(images/background.png);
    background-size: cover;
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
    height:30rem;
}

.baner_text {
    width: 40%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    opacity: 1.0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:block;
    position:absolute;
    top:25%;
    left:30%;
    right:30%;
    margin-bottom: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight:bold;
    margin-bottom: 3vw;
    color:white;
}

.baner_text p {
    margin-top:0;
    font-size:1.5rem;
    color:#cccccc;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;    
}

button {
    background-color: #7cc576;
    border:none;
    border-radius: 25px;
    color: white;
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main_button a {
    text-decoration: none;
    color:inherit;
}

.main_button:hover {
    background-color: white;
    color:black;
    text-shadow: none;
    cursor: pointer;
}
                                  /* section about*/
.about {
    height: 30%;
    width: auto;
    margin-top:4rem;
    margin-bottom: 4rem;
}

.about_text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: 'Roboto Slab', serif;
}

.about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.about p {
    color:  #777777;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.about_container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:  center;
    flex-wrap: wrap;
    width:75%;
}

.about_container > div {
    width: 27%;
}

.about img {
    margin-bottom: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:auto;
    height: 17%;
}

.about_container h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about_container p {
    font-size: 1rem;
    color:  #777777;
    text-align: center;
    margin-top: 0;
    font-family: 'Roboto Slab', serif;
}
                                    /*section blog*/
.blog {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 35rem;
}

.left_blog {
    width:30%; 
    height: 100%;
    background-color: #e9e9e9;
    z-index: -2;
}

.left_blog img {
    position: relative;
    left:50%;
    top:15%;
    z-index: -1;
}

.rigth_blog {                                                      
    width:100%;
    height: 100%;
    background-image: url(images/background_blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);  
}

.blog_text {
    width:50%;
    margin-top: 3rem;
    margin-left: 2rem;
    position: absolute;
    right:10rem;
}

.blog_text h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
}

.blog_text p {
    width:80%;
    font-family: 'Roboto Slab', serif;
    color:  #cccccc;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}

.blog_text ul {                                   
    list-style-position: inside;
    height: 70%; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blog_text li {
    padding-left: 3rem;
    margin-top:1rem;
    line-height: 2rem;
    color: #cccccc;
    background: url(images/list_check.png) no-repeat left top;
}

.green {
    color:#7cc576;
}

.blog_text button {
    margin-top: 1rem;
}
                                /*section portfolio*/
.portfolio {
    height: 53rem;
}

.portfolio h2 {
    font-family:  'Montserrat', sans-serif;
    color:#222222;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0;
}

.portfolio_header {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.ipad {
    float:left;
    position: absolute;
    right: 0;
    width:auto;
    height: 100%;
}

.portfolio article {
    margin-left: 15%;
    margin-top: 0; 
}

.portfolio h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.5rem;
}

.portfolio article p {   
    font-family:'Roboto Slab', serif;
    color:  #777777;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.2rem;
    display: block;
    width: 50%;
    margin-top: 0.2rem;
}

.pseudo_list {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.list_li {
    padding-left:5rem;
    height: 3rem;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 1rem;
    width:40%;
}

.list_li h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
}

.list_li p {
    font-family: 'Roboto Slab', serif;                              
    color:  #777777;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.basket {
    background: url(images/icon_basket.png) no-repeat left top;              /*nie moge zrobić przerwy między nimi*/
    background-size: contain;
    height:3.5rem;
}

.laptop {
    background: url(images/icon_laptop.png) no-repeat left top;
    background-size: contain;
    height:3.5rem;
}

.locked {
    background: url(images/icon_locked.png) no-repeat left top; 
    background-size: contain;
    height:3.5rem;
}

.portfolio a {
    font-family:  'Montserrat', sans-serif;
    color:  #7cc576;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: block;
    margin-top: 1.5rem;
}

.portfolio a:hover {
   font-size:1.4rem;
}
                              /* section culture*/
.culture {
    background-color:  #f9f9f9;
    height: 37rem; 
}

.culture h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1.7rem;
}

.culture p {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.culture_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    width:80%;   
}

.culture_container img {
    margin-bottom: 3.5rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:40%;
    height: auto;
}

.culture_container h4 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;   
}

.culture_container p {            
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;  
    width:100%;
}

.line hr {                        
    background-color:  #777777;
    width: 15vw;
    position: relative;
    top:-6rem;
}
                       /*section clients*/
.clients {
    height: 47rem;   
}

.clients h2 {
    font-family:  'Montserrat', sans-serif;
    color:  #222222;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1.5rem;   
 }

.clients p {
    font-family:'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin:0;
    margin-bottom: 3rem;
}

.clients_flex {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 90%;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.foto {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    background-color:  #f9f9f9;
    width: 16vw;
    height: 16vw;
}

.clients_text {
    background-color:  #f9f9f9;
    width: 45vw;
    height: 13vw;
    margin-bottom:0;
    margin-right: 0px;
    margin-left: 0px;
}

.clients_text blockquote {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    width:95%;
    margin-left: auto;
    margin-right: auto;
}

.clients_text cite {
    font-family: 'Roboto Slab', serif;
    color:  #7cc576;
    font-size: 1.2rem;
    font-weight: 400;
    display: block;
    text-align: center;
}

.triangle_left {
    width: 0;
	height: 0;
	border-top: 1vw solid transparent;
	border-bottom: 1vw solid transparent;
	border-right: 1.8vw solid #f9f9f9;
	margin: auto 0  auto 0;
    margin-left: 3vw;
}

.triangle_rigth {
    width: 0;
	height: 0;
	border-top: 1vw solid transparent;
	border-bottom: 1vw solid transparent;
	border-left: 1.8vw solid #f9f9f9;
	margin: auto 0  auto 0; 
    margin-right: 2vw;
}
                      /*section contact*/               
.contact {
    height: 18rem;
    background-color:  #7cc576;
}

.contact h2 {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    width:90%;
}

.contact button {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color:  #ffffff;
    border-radius: 10px;
    background-color:  #7cc576;
    width: 13vw;
    height: 4vw;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    text-shadow: none;
    margin: 0 auto 0 auto;
    cursor: pointer; 
}

.contact a  {
    text-decoration: none;
}

.contact button:hover {                
    color:#7cc576;
    background-color: #ffffff;  
    text-decoration: none;            
}
                       /*logotype section*/
.logotype {
    height: 10rem;
    width: 60%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

                     /*latest section*/            
.latest {
    height: 23rem;
    background-color: black;
    color:white;
}

.latest_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin:auto;
    font-size: 1rem;
}

.latest_container > div {
    width: 40%;
    margin-top: 3rem;  
}

.latest_container > div > h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
}

.contact_us ul {
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
}

.contact_us li {
    display: table-cell;
    vertical-align: center;
    padding-left: 2rem;
    margin-bottom: 2rem;
    line-height: 1.9rem;
}

.contact_us li:first-child {
    background: url(images/icon_location.png) no-repeat left top; 
}

.contact_us li:nth-child(2) {
    background: url(images/icon_phone.png) no-repeat left top; 
}

.contact_us li:last-child {
    background: url(images/icon_email.png) no-repeat left top; 
    margin-bottom: 0;
}

.latest_posts  a {
    text-decoration: none;
    color:white;
}

.latest_posts a:hover {
    color:#7cc576;
}

.latest_posts li {
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.7rem;
}

.news {
    background: url(images/icon_news.png) no-repeat left top; 
}

.photo {
    background: url(images/icon_photo.png) no-repeat left top; 
}
.media {
    background: url(images/icon_media.png) no-repeat left top; 
}

.latest_tweets ul > li {
    background: url(images/icon_twitter.png) no-repeat left top; 
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.7rem;
}

.latest_tweets  a {
    text-decoration: none;
    color:white;
}

.latest_tweets a:hover {
    color:#7cc576;
}

.time {
   font-size: smaller;
}

.hasztag {
    margin-top: 3px;
    font-weight: bold;
}
                           /*social media section*/
.social_media {
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.social_media p {
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-weight: 400;
}

.social_logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:30%;
    margin-right: 20rem;
}

.social_logos a {
    text-decoration: none;
	background: black;
	color: #fff;
	width: 3.5rem;
	height: 2.5rem;
	border-radius: 5rem;
	font-size: 1.5rem;
	text-align: center;
    padding-top: 5%;
    margin-bottom: 0;
    transition: all 0.2s ease-in-out;
}

.fa-facebook:hover {
	background:#3b5998
} 
.fa-pinterest:hover {
	background:#cb2027;
}
.fa-twitter:hover {
	background:#00aced;
}
.fa-google-plus:hover {
	background:#dd4b39
}