body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 115px;
    
}

.baner {
    background-image: url(images/background.png);
    background-size: cover;
    height: 530px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.baner_text {
    width: 522px;
    color: white;
    text-align: center;
}

h1 {font-family: inherit;
    font-size: 55px;
    font-weight:bold;
    margin-bottom: 41px;
}

.baner_text p {
    margin-top:0;
}